.result-list .result-item figure figcaption .name a {
    height: auto;
}

.news-page .pages {
    display: block !important;
}

.filter-wrap {
    /* z-index: 9999 */
}

.news-detail a,
.brand-page .brand-banner a {
    color: #4facfe;
}

.cart-address {
    position: relative;
    margin-bottom: 15px;
}

.cart-address .btn-edit {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.8125rem;
    color: #7866f8;
}

@media (min-width: 768px) {
    .cart-address .btn-edit {
        color: #18a0c6;
    }
    .cart-address .btn-edit:hover {
        color: #18a0c6;
    }
}

.cart-address .btn-edit .material-icons {
    font-size: 0.875rem;
    margin-right: 5px;
}

.cart-address .address-info {
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    padding: 10px;
    margin-bottom: 15px;
}

.cart-address .address-info .name {
    font-weight: 500;
    margin-bottom: 5px;
    color: #18a0c6;
    font-size: 0.875rem;
}

.cart-address .address-info .phone {
    color: #666666;
    font-size: 0.8125rem;
}

.cart-address .address-info .phone:hover {
    color: #ff856a;
}

.cart-address .address-info .phone:before {
    content: '\f095';
    margin-right: 5px;
}

.cart-address .address-info .address {
    color: #666666;
    font-size: 0.8125rem;
}

.cart-address .address-info .address:before {
    content: '\f041';
    margin-right: 5px;
}

.thankyou {
    text-align: center;
}

@media (max-width: 991px) {
    .thankyou {
        margin-bottom: 20px;
        padding: 20px 0;
    }
}

.thankyou img {
    width: 80%;
}

.payment-success .notice {
    color: #fff;
    background: #333;
    /* border: 1px solid #18a0c6; */
    padding: 10px 15px;
    border-radius: 5px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

@media (max-width: 543px) {
    .payment-success .notice {
        padding: 10px;
    }
}

.payment-success .notice .fa {
    content: '\f058';
    font-family: 'fontawesome';
    font-size: 1.125rem;
    line-height: 1;
}

.payment-success .notice .fa-check-circle {
    color: #2fd6b8
}

@media (max-width: 543px) {
    .payment-success .notice .fa {
        position: absolute;
        top: 10px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -khtml-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        font-size: 1.5rem;
        display: none;
    }
}

.payment-success .notice span {
    width: calc(100% - 40px);
    margin-left: 10px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.875rem;
}

@media (max-width: 543px) {
    .payment-success .notice span {
        margin: 0;
        width: 100%;
        text-align: center;
    }
}

.payment-success .letter {
    font-size: 0.875rem;
    margin-bottom: 15px;
}

.payment-success .letter a {
    color: #18a0c6;
    font-weight: 500;
}

.payment-success .letter a:hover {
    text-decoration: underline;
}

.payment-success .cart-info {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin-bottom: 15px;
}

.payment-success .cart-info .info-overview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

.payment-success .cart-info .info-overview .info-col {
    width: 33.33%;
    padding: 10px;
    font-size: 0.8125rem;
}

.payment-success .cart-info .info-overview .info-col strong {
    font-weight: 500;
}

.payment-success .cart-info .info-overview .info-col:nth-child(2) {
    text-align: center;
}

.payment-success .cart-info .info-overview .info-col:nth-child(3) {
    text-align: right;
}

.payment-success .cart-info .info-overview .info-col:nth-child(3) strong {
    color: #18a0c6;
    font-weight: 500;
}

.payment-success .cart-info .cart-finish-table {
    width: 100%;
    border-top: 1px solid #e6e6e6;
}

.payment-success .cart-info .cart-finish-table th {
    border-bottom: 1px solid #e6e6e6;
    background: #f7f7f7;
    font-weight: 500;
    white-space: nowrap;
}

.payment-success .cart-info .cart-finish-table td {
    border-bottom: 1px solid #e6e6e6;
    white-space: nowrap;
}

.payment-success .cart-info .cart-finish-table th,
.payment-success .cart-info .cart-finish-table td {
    padding: 5px 10px;
    font-size: 0.8125rem;
}

.payment-success .cart-info .cart-finish-table th:nth-child(1),
.payment-success .cart-info .cart-finish-table td:nth-child(1) {
    width: 60%;
}

.payment-success .cart-info .cart-finish-table th:nth-child(2),
.payment-success .cart-info .cart-finish-table td:nth-child(2) {
    width: 20%;
    text-align: center;
}

.payment-success .cart-info .cart-finish-table th:nth-child(3),
.payment-success .cart-info .cart-finish-table td:nth-child(3) {
    width: 20%;
    text-align: center;
}

.payment-success .cart-info .total-overview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.8125rem;
}

@media (max-width: 767px) {
    .payment-success .cart-info .total-overview {
        display: none;
    }
}

.payment-success .cart-info .total-overview .overview-col {
    width: 33.33%;
    padding: 10px;
}

.payment-success .cart-info .total-overview .overview-col:nth-child(2) {
    text-align: center;
}

.payment-success .cart-info .total-overview .overview-col:nth-child(3) {
    text-align: right;
}

.payment-success .cart-info .total-overview .overview-col strong {
    color: #18a0c6;
}

.payment-success .receive-address {
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    padding: 10px;
    font-size: 0.875rem;
}

.payment-success .receive-address .title {
    font-weight: 700;
    margin-bottom: 5px;
}

.cart-btnwrap .btn-backstep {
    display: block;
    color: #999999;
    line-height: 40px;
    /* float: left; */
}


/* @media (max-width: 767px) {
    .cart-btnwrap .btn-backstep {
        margin-right: 15px;
    }
} */

.cart-btnwrap .btn-backstep:before {
    content: '\f104';
    margin-right: 10px;
}

.cart-btnwrap .btn-backstep:hover {
    color: #18a0c6;
}

.cart-btnwrap .btn-nextstep {
    display: block;
    width: 170px;
    line-height: 40px;
    border-radius: 50px;
    text-align: center;
    color: #fff;
    background: #18a0c6;
}

.cart-btnwrap .btn-nextstep:hover {
    background: #333;
    color: #fff
}


/* @media (min-width: 768px) {
    .cart-btnwrap .btn-nextstep {
        float: right;
        padding: 0px 20px;
    }
} */


/* .product-page .product-info .page-popup .popup-body .btn-addtocart {
    margin-top: 20px;
    display: block;
    width: 100%;
    background: linear-gradient(to right, #FFC107, #FF5722);
    color: #fff;
    border-radius: 50px;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 40px;
    box-shadow: 0px 10px 20px -10px #FF5722;
} */

.product-option.disable {
    filter: grayscale(100%);
    opacity: 0.3;
}


/* .product-page .product-sameprice .searchbox {
    z-index: 1;
}

.product-page .product-sameprice .searchbox input {
    margin-left: 10px;
}

@media (max-width: 767.98px) {
    .product-page .product-sameprice .searchbox {
        position: relative;
        width: 80%;
        left: auto;
        margin: 0 auto;
    }
}

.searchbox.comparesearchbox {
    position: relative;
}

.searchbox.comparesearchbox .suggestsearch {
    position: absolute;
    right: 0;
    top: 110%;
    left: 0;
    background: #fff;
    z-index: 9;
}

.searchbox.comparesearchbox .suggestsearch .searchpanel .item {
    display: block;
    height: 100%;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.1);
}

.searchbox.comparesearchbox .suggestsearch .searchpanel .item figure {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 0;
}

.searchbox.comparesearchbox .suggestsearch .searchpanel .item figure .itemimg {
    width: 100px;
    height: 100px;
}

.searchbox.comparesearchbox .suggestsearch .searchpanel .item figure figcaption {
    width: calc(100% - 100px);
    padding: 10px;
}

.searchbox.comparesearchbox .suggestsearch .searchpanel .item figure figcaption .itemname {
    display: block;
    display: -webkit-box;
    height: 2.1125rem;
    font-size: 0.8125rem;
    line-height: 1.3;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.searchbox.comparesearchbox .suggestsearch .searchpanel .item figure figcaption .itemname a {
    color: #000;
    font-size: 0.75rem;
    height: unset;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.searchbox.comparesearchbox .suggestsearch .searchpanel .item figure figcaption .itemname span {
    font-size: 0.8125rem;
    line-height: 1.5;
    font-weight: 600;
    color: #F44336;
    display: block;
}

@media (max-width: 1199px) {
    .searchbox.comparesearchbox .suggestsearch .searchpanel .item figure figcaption .itemname span {
        font-size: 0.75rem;
    }
}

.searchbox.comparesearchbox .suggestsearch .searchpanel .item figure figcaption .compare-button {
    line-height: 40px;
    border-radius: 50px;
    text-align: center;
    color: #fff;
    background: linear-gradient(to right, #dc8dff, #7866f8);
    box-shadow: 0px 10px 20px -10px #dc8dff;
    font-size: 0.8125rem;
    line-height: 30px;
    height: 30px;
    margin-top: 5px;
    text-align: center;
    width: 100%;
    display: inline-block;
    width: auto;
    padding: 0px 20px;
}

.searchbox.comparesearchbox .suggestsearch .searchpanel .item figure figcaption .compare-button:hover {
    filter: brightness(105%);
    box-shadow: 0px 10px 20px -5px #dc8dff;
} */

.lastview-slick .item .lastview-item .img {
    height: 200px;
}

@media (max-width: 1199.98px) {
    .homepage header .mini-menu {
        display: block;
    }
}

.brand-page {
    /* padding: 40px 0; */
}

.brand-page .brand-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.brand-page .brand-header .brand-logo a {
    display: block;
    padding: 10px 0;
}

.brand-page .brand-header .brand-logo img {
    height: 30px;
}

.brand-page .brand-header .brand-menu ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    align-items: center;
    align-content: center;
}

.brand-page .brand-header .brand-menu ul li+li {
    margin-left: 30px;
}

.brand-page .brand-header .brand-menu ul li a {
    display: block;
    color: #999999;
    font-weight: 500;
}

.brand-page .brand-header .brand-menu ul li a:hover {
    color: #000;
}

.brand-page .brand-banner {
    margin-bottom: 40px;
}

.brand-page .brand-banner .banner-img {
    display: block;
}

.brand-page .brand-banner .banner-img img {
    width: 100%;
}

.brand-page .brand-category ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .brand-page .brand-category ul {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        width: 100%;
    }
}

.brand-page .brand-category ul li {
    width: 16.66%;
}

@media (max-width: 767px) {
    .brand-page .brand-category ul li {
        width: 130px;
        max-width: 130px;
        min-width: 130px;
    }
}

.brand-page .brand-category ul li .category {
    display: block;
    text-align: center;
}

.brand-page .brand-category ul li .category .img {
    width: 100px;
    height: 100px;
    margin: 0px auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin-bottom: 10px;
}

.brand-page .brand-category ul li .category .img img {
    max-width: 60%;
    max-height: 60%;
}

.brand-page .brand-category ul li .category .name {
    color: #000;
    font-size: 0.875rem;
    font-weight: 600;
}

.brand-page .brand-category ul li.active .category .img {
    background: #333;
    color: #fff;
    /* box-shadow: 0px 10px 20px -10px #18a0c6; */
}

.brand-page .brand-category ul li.active .category .img img {
    filter: invert(100%);
}

.mobile-brand .brand-logo a {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.mobile-brand .brand-logo img {
    max-width: 90%;
    max-height: 90%;
}

.brand-intro {
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.1);
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.brand-intro .brand-logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-intro .brand-logo img {
    max-width: 70%;
    max-height: 70%;
}

.brand-intro .static-content {
    max-height: 100px;
    overflow: hidden;
}

.brand-product .btn-viewmore {
    display: block;
    line-height: 40px;
    border-radius: 50px;
    text-align: center;
    color: #fff;
    background: linear-gradient(to right, #59e1cb, #18a0c6);
    box-shadow: 0px 10px 20px -10px #59e1cb;
    margin-bottom: 15px;
    line-height: 36px;
}

.brand-product .btn-viewmore:hover {
    filter: brightness(105%);
    box-shadow: 0px 10px 20px -5px #59e1cb;
}

.brand-product .btn-viewmore:before {
    content: '\f055';
    font-family: 'fontawesome';
    margin-right: 10px;
}

.installment-page .installment-form .form-wrap .form-group label.error {
    width: auto;
    color: red;
}

.cart-step .cart-payment .payment-method>ul>li.method-select label {
    text-align: center;
    padding-bottom: 20px;
}

.cart-step .cart-payment .payment-method>ul>li.method-select label:before {
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -khtml-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.cart-step .cart-payment .payment-method>ul>li.method-select label:after {
    content: '\f00c';
    width: 14px;
    height: 14px;
    background: #2cbde5;
    color: #fff;
    border-radius: 50px;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.75rem;
    align-items: center;
    align-content: center;
    justify-content: center;
    opacity: 0;
    position: absolute;
    bottom: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -khtml-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.cart-step .cart-payment .payment-method>ul>li.method-select label .icon {
    margin-bottom: 10px;
}

.cart-step .cart-payment .payment-method>ul>li.method-select label img {
    width: 48px;
    filter: grayscale(100%);
}

.cart-step .cart-payment .payment-method>ul>li.method-select.r-tabs-state-active label img {
    filter: grayscale(0%);
}

.cart-step .cart-payment .payment-method>ul>li.method-select label .name {
    font-size: 0.75rem;
    line-height: 1.3;
    font-weight: 700;
}

.cart-step .cart-payment .payment-method>ul>li.method-select.r-tabs-state-active label:after {
    opacity: 1
}

.cart-step .cart-payment .payment-method .r-tabs-accordion-title label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    align-content: center;
    position: relative;
    padding-left: 20px;
}

.cart-step .cart-payment .payment-method .r-tabs-accordion-title label:before {
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -khtml-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.cart-step .cart-payment .payment-method .r-tabs-accordion-title label:after {
    content: '\f00c';
    width: 14px;
    height: 14px;
    background: #2cbde5;
    color: #fff;
    border-radius: 50px;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.75rem;
    align-items: center;
    align-content: center;
    justify-content: center;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -khtml-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.cart-step .cart-payment .payment-method .r-tabs-accordion-title label .icon {
    width: 32px;
}

.cart-step .cart-payment .payment-method .r-tabs-accordion-title label .name {
    width: calc(100% - 32px);
    padding-left: 10px;
    font-size: 0.875rem;
    font-weight: 500;
}

.cart-step .cart-form .form-wrap .form-group label.error {
    width: auto;
    color: red;
}

.product-in-news {
    padding-top: 10px;
}

@media (max-width: 767px) {
    .product-in-news .col-xs-12 {
        padding: 0 15px;
    }
}

.product-in-news .product {
    margin-bottom: 20px;
    background-color: rgba(50, 184, 230, 0.1);
    border: 1px dashed #18a0c6;
}

.product-in-news .product figure .productimg {
    width: 130px;
}

@media (max-width: 991px) {
    .product-in-news .product figure .productimg {
        width: 100px;
    }
}

.product-in-news .product figure figcaption {
    width: calc(100% - 130px);
    position: static;
    top: unset;
    padding: 0px;
    padding-left: 10px;
    background: none;
    text-align: left;
    border: none;
}

@media (max-width: 991px) {
    .product-in-news .product figure figcaption {
        width: calc(100% - 100px);
    }
}

.product-in-news .product figure figcaption .productname {
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 3px;
}

@media (max-width: 991px) {
    .product-in-news .product figure figcaption .productname {
        font-size: 0.8125rem;
    }
}

.product-in-news .product figure figcaption .productname a {
    color: #333;
}

.product-in-news .product figure figcaption .productname a:hover {
    color: #0094b9;
}

.product-in-news .product figure figcaption .productprice {
    font-size: 0.9375rem;
    font-weight: 700;
    color: #F44336;
    margin-bottom: 5px;
}

@media (max-width: 991px) {
    .product-in-news .product figure figcaption .productprice {
        font-size: 0.875rem;
    }
}

.product-in-news .product figure figcaption .productdes {
    font-size: 0.8125rem;
    color: #666666;
    margin-bottom: 10px;
}

@media (max-width: 991px) {
    .product-in-news .product figure figcaption .productdes {
        font-size: 0.75rem;
    }
}

.product-in-news .product figure figcaption .productdes ul li {
    position: relative;
    padding-left: 15px;
}

.product-in-news .product figure figcaption .productdes ul li:before {
    content: '\f111';
    font-family: 'fontawesome';
    font-size: 0.25rem;
    opacity: 0.5;
    position: absolute;
    top: 6px;
    left: 0;
}

.product-in-news .product figure figcaption .btn-buy {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    padding: 0px 20px;
    border-radius: 35px;
    font-size: 0.9375rem;
    color: #fff;
    color: #fff;
    -webkit-transition: all 0.5s;
    -khtml-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: linear-gradient(to right, #59e1cb, #18a0c6);
    box-shadow: 0px 10px 20px -10px #59e1cb;
}

.product-in-news .product figure figcaption .btn-buy:hover {
    filter: brightness(105%);
    box-shadow: 0px 10px 20px -5px #59e1cb;
}

@media (max-width: 991px) {
    .product-in-news .product figure figcaption .btn-buy {
        font-size: 0.875rem;
    }
}


/* .product-col figure figcaption .product-price {
    position: relative;
} */


/* .product-col figure figcaption .product-price .promotion {
    bottom: 13px;
    top: unset;
} */

@media (max-width: 767.98px) {
    .notfound-page .product-subcate .category-list .item {
        width: 15%;
    }
}

.compare-products .compare-products-table .product-header .product-item .title .old-price {
    color: #666666;
    text-decoration: line-through;
    display: block;
}

.compare-products .compare-products-table .product-header .product-item .title .price {
    color: #F44336;
}


/*Footer keywords*/

.footer-keywords .ModuleContent {
    text-align: center;
    margin: 10px 0 5px 0;
}

.footer-keywords .ModuleContent a {
    font-size: 13px;
    margin-left: 10px;
    display: inline-block;
}

.footer-keywords .ModuleContent a:first-child {
    margin-left: 0;
}

.footer-keywords .ModuleContent a:hover {
    text-decoration: underline;
    color: #2cbde5
}

.promotion.new
{
    position: absolute;
    top: 10px;
    width: 50px;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.14);
    background: #e24c10;
    color:white;
    text-align: center;
}
.promotion.new:after
{
    content: '';
    width: 0px;
    height: 0px;
    border-left: 0px solid transparent;
    border-right: 10px solid transparent;
    border-top: 7px solid #e24c10;
    position: absolute;
    top: 22px;
    left: 8px;
}
.cart-step .cart-coupon .input-coupon .btn-submitcoupon{
    background: linear-gradient(to right, #FF9800 0%, #FF5722 100%);
    color: #fff;
    border-radius: 5px;
    -webkit-transition: all, 0.5s;
    -khtml-transition: all, 0.5s;
    -moz-transition: all, 0.5s;
    -ms-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
}
.cart-step .cart-coupon .input-coupon .btn-submitcoupon:hover{
    background: linear-gradient(to right, #FF9800 0%, #FF5722 100%);
    color: #fff;
    box-shadow: 0px 10px 20px -10px #FF9800;
}
.removecoupon{
    color:red;
    margin-left: 5px
}
.use-coupon{
    margin-top : 5px;
    font-weight: unset !important;
}

.have-tooltip a.link-tooltip{
    color: #007bff;
}
.have-tooltip .link-tooltip{
    position: relative;
}
.link-tooltip .link-tooltip-description
{
    visibility: hidden;
    width: 400px;
    background-color: #18a0c6;
    color: #fff;
    text-align: justify;
    border-radius: 6px;
    padding: 15px;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 30px;
}
.have-tooltip .link-tooltip .link-tooltip-description p
{
    font-size: 14px;
}
.have-tooltip .link-tooltip .link-tooltip-description:before
{
    border: 9px solid transparent;
    border-bottom: 9px solid #18a0c6;
    margin-left: -9px;
    bottom: 100%;
    left: 50px;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.have-tooltip .link-tooltip:hover .link-tooltip-description
{
    visibility: visible;
}
.have-tooltip .specification-right .link-tooltip:hover .link-tooltip-description
{
  visibility: hidden;
}
@media (max-width: 991px) {

  .have-tooltip .link-tooltip:active .link-tooltip-description,.have-tooltip .link-tooltip:hover .link-tooltip-description
  {
    bottom: 35px;
    visibility: visible;
  }
    .have-tooltip .link-tooltip .link-tooltip-description
    {
       visibility: hidden;
        width: 90%;
        background-color: #18a0c6;
        color: #fff;
        text-align: justify;
        border-radius: 6px;
        padding: 15px;
        position: fixed;
        z-index: 1;
        left: 10px;
        bottom: unset;
        top:unset;
        max-height: 250px;
        overflow: auto;
    }
    .have-tooltip .link-tooltip .link-tooltip-description:before
    {
        border: 9px solid transparent;
        border-bottom: 9px solid #18a0c6;
        margin-left: -9px;
        bottom: 100%;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        right: 30px;
        left: unset;
    }
}
